@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-primary: "Nunito", sans-serif;
    --font-logo: "Belgrano", sans-serif;
    --color-primary: #3A73F8; 
    --color-footer: #999999;
}
